main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* wrapper div around p tag */
main div {
    margin: 30px;
    max-width: 80%;
    text-align: center;
}

section {
    max-width: 80%;
}

main>div>p {
    padding: 10px;
    text-align: left;
}

img {
    max-width: 300px;
    max-height: 450px;
    border-radius: 30px;
}

.me-card-medium {
    max-width: 300px;
    max-height: 700px;
}

.container {
    display: block;
    height: 500px;
    width: 500px;
    padding: 2em;
}