<div id="adventure">
  <nav>
    <button (click)="restart()">Restart</button>
  </nav>
  <div>
    <main>
      <textarea name="console" id="" cols="40" rows="14" readonly [(ngModel)]="gameConsole.textArea"></textarea>
    </main>
    <div>
      <div id="map-border">
        @for (row of miniMap; track $index; let i = $index) {
        <aside>
          @for (terrain of row; track $index; let j = $index) {
          <div>
            @if (terrain !== '-') {
            <img src="./assets/treasure-hunt/{{terrain}}" alt="{{terrain}}" height="60px" width="60px">
            }
            @else if ((i === 2 && j === 2) && player != undefined) {
            <img class="player" src="{{getPlayerImg()}}" alt="{{getPlayerImg()}}" height="60px" width="60px">
            }
            @else {
            <img src="{{getDefaultImage()}}" height="60px" width="60px">
            }
          </div>
          }
        </aside>
        }
      </div>
    </div>
  </div>
  <section>
    <label for="commands">Command Input</label>&nbsp;
    <input name="commands" type="text" #command>&nbsp;
    <button (click)="parseCommands(command)">Enter</button>
  </section>
</div>