<div id="adventure">
    <nav class="row">
        <button>Open</button>&nbsp;
        <button>Save</button>&nbsp;
        <button>Quit</button>&nbsp;
    </nav>
    <div class="row">
        <main class="col-md-6">
            <textarea name="console" id="" cols="70" rows="18"></textarea>
        </main>
        <aside class="col-md-6" *ngFor="let row of miniMap; let i = index">
            <div *ngFor="let terrain of row; let j = index">
                <img *ngIf="terrain !== 'X'; else elseBlock" src="./assets/treasure-hunt/{{terrain}}" alt="{{terrain}}">
                <img class="player" *ngIf="i === 2 && j === 2" src="./assets/treasure-hunt/{{getPlayerImg()}}" alt="">
                <ng-template #elseBlock>
                    <div class="nozone">NOZONE</div>
                </ng-template>
            </div>
        </aside>
    </div>
    <section class="row">
        <label for="commands">Command Input</label>&nbsp;
        <input name="commands" type="text">
    </section>
</div>