<div class="row">
    <div class="col-md-4 col-xm-4 center">
        <mat-card class="cardSize">
            <mat-form-field>
                <mat-label>Enter compound</mat-label>
                <input matInput type="text" [(ngModel)]="compound">
                <button mat-button *ngIf="compound" matSuffix mat-icon-button aria-label="Clear" (click)="compound=''">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
            <button mat-button color="primary" [disabled]="compound === ''"
                (click)="parseMolecule(compound)">Calculate</button>
        </mat-card>
    </div>
    <div class="col-md-4 col-xm-4 center">
        <mat-card class="cardSize">
            <h5>Example Compounds:</h5>
            <mat-list-item role="listitem" *ngFor="let compound of compoundExamples">
                {{ compound }}
            </mat-list-item>
        </mat-card>
    </div>
</div>
<div class="row" *ngIf="ElementsArr.length > 0">
    <div class="col-md-4 col-xm-4 center">
        <mat-card class="cardSize">
            <mat-list role="list">
                <mat-list-item role="listitem" *ngFor="let property of ElementsArr">{{ property[0] }}: {{
                    property[1] }}
                </mat-list-item>
            </mat-list>
        </mat-card>
    </div>
</div>