<h3>{{ title }}</h3>
<div>
  <h4>Words:</h4>
  @for (word of words; track word) {
  <ul>
    <li>{{ word.value }}</li>
  </ul>
  }
</div>
@for (row of crossword; track $index; let i = $index) {
<div id="crosswordDiv">
  @for (element of row; track $index; let j = $index) {
  <span>
    <span [id]="[i,j]">{{ element }}</span>
  </span>
  }
</div>
}
<button mat-raised-button color="primary" (click)="initializeCrossword()">Generate random crossword</button>&nbsp;&nbsp;
<button mat-raised-button color="primary" (click)="solve()">Solve</button>