<h3>Coding Challenges</h3>
<div class="row">
    <div class="col-md-4 col-xm-4 center">
        <mat-card class="cardSize">
            <chemistry-calculator title="Chemistry Calculator"></chemistry-calculator>
        </mat-card>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-4 col-xm-4 center">
        <mat-card class="cardSize">
            <roman-numerals title="Roman Numerals"></roman-numerals>
        </mat-card>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-4 col-xm-4 center">
        <mat-card class="cardSize">
            <tic-tac-toe title="Tic Tac Toe"></tic-tac-toe>
        </mat-card>
    </div>
</div>
<hr>