<h3>Coding Challenges</h3>
<div class="card-container">
  <mat-card class="display-card" appearance="outlined">
    <chemistry-calculator></chemistry-calculator>
  </mat-card>
  <mat-card class="display-card" appearance="outlined">
    <roman-numerals></roman-numerals>
  </mat-card>
  <mat-card class="display-card" appearance="outlined">
    <tic-tac-toe></tic-tac-toe>
  </mat-card>
  <mat-card class="display-card" appearance="outlined">
    <directions></directions>
  </mat-card>
  <mat-card class="display-card" appearance="outlined">
    <to-do-list></to-do-list>
  </mat-card>
  <mat-card class="display-card" appearance="outlined">
    <crossword></crossword>
  </mat-card>
  <!--<mat-card class=" display-card treasure-hunt-card" appearance="outlined">
    <app-treasure-hunt title="Treasure Hunt"></app-treasure-hunt>
  </mat-card>-->
</div>