.display-card {
    width: 400px;
}

.card-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px 0 20px 20px;
}

.certificate-header-image {
    background-image: url('../../assets/certificates/UdemyLogo.PNG');
    background-size: cover;
}