.margin-top{
    margin-top: 60px;
    margin-bottom: 60px;
}

.card-margin{
    margin-left: 60px;
    margin-right: 60px;
}

.max-card-width{
    max-width: 500px;
    min-width: 400px;
}

.pos-center{
    display: flex;
    justify-content: center;
}

.certificate-header-image{
    background-image: url('../../assets/certificates/UdemyLogo.PNG');
    background-size: cover;
}

.flex-wrap{
    display: flex;
    flex-wrap: wrap;
}